# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/*
demo_2026/.ipynb_checkpoints/*
desktop.ini

# ignore all folder  
/data/*  
/model_saved/*

# except rule  
!/data/notes_gitkeep*.*
!/data/public/*
!/model_saved/readme.md  

*.Zone_Identifier
*:Zone.Identifier 
