# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/*
desktop.ini

# ignore all folder  
/data/*  

# except rule  
!/data/notes_gitkeep*.*
!/data/public/*  

*.Zone_Identifier
